<section class="section" style="margin-left: -40px; margin-bottom: 25px">
	<span
		style="text-align: right;font-size: 42px;font-weight: 300; background: linear-gradient(0.75turn, #23395d, #23395d, #23395da6, white) border-box; color: #fff;display: block;letter-spacing: 5px;padding: 20px;width: 105%;">
		{{ sidebar.name }}
	</span>
</section>

<section>
	<table>
		<tr>
			<th>Full Name</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.fullname }}</span>
			</td>
		</tr>
		<tr>
			<th>Date of Birth</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.dob }} ({{ diffDays | round: 0 }}
					Years)</span>
			</td>
		</tr>
		<tr>
			<th>Place of Birth</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">
					<a href="https://goo.gl/maps/Z6UG4NmUK1fQT9Fz6", target="_blank" style="color: #000;">{{ sidebar.placeob }}</a>
				</span>
			</td>
		</tr>
		<tr>
			<th>Time of Birth</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.time }}</span>
			</td>
		</tr>
		<tr>
			<th>Rashi Sign (Moon)</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.hzodiac }}</span>
			</td>
		</tr>
		<tr>
			<th>Zodiac Sign (Sun)</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.ezodiac }}</span>
			</td>
		</tr> 
		<tr>
			<th>Paternal Place</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">
					<a href="https://goo.gl/maps/jvYr2EYfFKyPhRFV7", target="_blank" style="color: #000;">{{ sidebar.paternalplace }}</a>
				</span>
			</td>
		</tr>
		<tr>
			<th>Maternal Place</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">
					<a href="https://goo.gl/maps/5auXayYAhtzDKMSF9", target="_blank" style="color: #000;">{{ sidebar.maternalplace }}</a>
				</span>
			</td>
		</tr>
		<tr>
			<th>Gender</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.gender }}</span>
			</td>
		</tr>
		<tr>
			<th>Weight</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.weight }}</span>
			</td>
		</tr>
		<tr>
			<th>Height</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.height }}</span>
			</td>
		</tr>
		<tr>
			<th>Blood Type</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.bloodgroup }}</span>
			</td>
		</tr>
		<!-- <tr>
			<th>Education</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.degree }} (Pursuing)</span>
			</td>
		</tr> -->
		<tr>
			<th>Occupation</th>
			<td>&emsp;:&ensp;</td>
			<td>
				<span style="color: #000; margin-bottom: 5px">{{ sidebar.job }}</span>
			</td>
		</tr>
	</table>
</section>