<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <!-- <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a> -->
      <a href="mailto:{{ sidebar.email }}" title="Trupesh Patel's Email" target="_blank">Email</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <!-- <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a> -->
      <a href="tel:{{ sidebar.phone }}" title="Trupesh Patel's Phone" target="_blank">Phone Number</a>
    </li>
    {% endif %}

    {% if sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ sidebar.citizenship }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="">{{ sidebar.timezone }}</a>
    </li>
    {% endif %}

    {% if sidebar.location %}
    <li class="timezone"><i class="fas fa-map-location"></i>
      <a href="https://goo.gl/maps/8Sc6TZaVDXAeMugP6" title="Trupesh Patel's Location" target="_blank">{{ sidebar.location }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <!-- <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a> -->
      <a href="http://{{ sidebar.website }}" title="Trupesh Patel's Website" target="_blank">Website</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <!-- <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a> -->
       <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" title="Trupesh Patel's LinkedIn" target="_blank">LinkedIn Page</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <!-- <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a> -->
      <a href="http://github.com/{{ sidebar.github }}" title="Trupesh Patel's GitHub" target="_blank">GitHub Page</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
