{% assign education = site.data.data.education %}
{% if education %}
{% if site.data.data.sidebar.education %}
<section style="margin-top: 25px;">
	<span style=" text-transform: uppercase; font-size: 20px; font-weight: 500; background: #000;
				color: #fff; display: block;	letter-spacing: 5px; margin-left: -60px; margin-top: 20px;
				padding-right: 25px; margin-bottom: 20px; width: 117%; text-align: right;">
		{{ education.title }}
	</span>

	{% for graduation in education.info %}
	<div class="item">
		<i class="fas fa-graduation-cap" , style="color: #000;"></i>
		<span class="degree" style="color: #000;">{{ graduation.degree }}</span>
		<h5 class="meta", style="padding-left: 30px;">{{ graduation.university }}</h5>
		<!-- <div class="time">{{ graduation.time }}</div> -->
	</div><!--//item-->
	{% endfor %}

</section><!--//education-container-->
{% endif %}
{% endif %}