{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    <!-- {% if sidebar.name %} -->
    <!-- <h1 class="name">{{ sidebar.name }}</h1> -->
    <!-- {% endif %} -->

    <!-- {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %} -->

  </div><!--//profile-container-->

  <section class="section">
       <span style="text-transform: uppercase;font-size: 20px;font-weight: 500; background: #ffffff;color: #000;display: block;letter-spacing: 5px;margin-left: 20px;padding-left: 20px;">
             Contact
        </span>
     {% include contact.html %}
  </section>

  <section class="section">
       <span style="text-transform: uppercase;font-size: 20px;font-weight: 500; background: #ffffff;color: #000;display: block;letter-spacing: 5px;margin-left: 20px;padding-left: 20px;">
             Language
        </span>
        {% include language.html %}
  </section>

  <section class="section">
       <span style="text-transform: uppercase;font-size: 20px;font-weight: 500; background: #ffffff;color: #000;display: block;letter-spacing: 5px;margin-left: 20px;padding-left: 20px;">
             Interests
        </span>
        {% include interests.html %}
  </section>

</div><!--//sidebar-wrapper-->
