---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
         <section class="section" style="margin-left: -60px;">
              <span style="text-align: right;font-size: 42px;font-weight: 300; background: #000; color: #fff;display: block;letter-spacing: 5px;padding: 20px;width: 110%;">
                   {{ sidebar.name }}
            </span>
         </section>
         <ul class="list-unstyled contact-list">
              <li style="margin-bottom: 10px;">
              <i class="fas fa-user"></i>
              <span style="padding: 5px; color: #000; margin-bottom: 5px">
                   {{ sidebar.fullname }}
              </span></li>
              <li style="margin-bottom: 10px;">
              <i class="fas fa-calendar"></i>
              <span style="padding: 5px; color: #000;margin-bottom: 15px;">
                   {{ sidebar.dob }}
              </span>
              </li>
              <li style="margin-bottom: 10px;">
              <i class="fas fa-clock"></i>
              <span style="padding: 5px; color: #000;">
                   {{ sidebar.time }}
              </span>
              </li>
              <li style="margin-bottom: 10px;">
              <i class="fas fa-weight"></i>
              <span style="padding: 5px; color: #000;">
                   {{ sidebar.weight }}
              </span>
              </li>
              <li style="margin-bottom: 10px;">
                    <i class="fas fa-text-height"></i>
                    <span style="padding: 5px; color: #000;">
                        {{ sidebar.height }}
                    </span>
               </li>
         </ul>
    </div>
  </div>


{% include scripts.html %}
</body>

</html>
